<%- include('partials/header') %>
    <h2>All Students</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Marks</th>
            <th>Grade</th>
            <th>Status</th>
        </tr>
        <% students.forEach(student=> { %>
            <tr>
                <td>
                    <%= student.id %>
                </td>
                <td><a href="/students/<%= student.id %>">
                        <%= student.name %>
                    </a></td>
                <td>
                    <%= student.marks %>
                </td>
                <td>
                    <%= student.grade %>
                </td>
                <td>
                    <% if(student.marks>= 40) { %>
                        Pass
                        <% } else { %>
                            Fail
                            <% } %>
                </td>
            </tr>
            <% }) %>
    </table>
    <a href="/add-student">Add New Student</a>
    <%- include('partials/footer') %>